[submodule "apps/mobile"]
	path = apps/mobile
	url = https://github.com/marcelo-m7/BotecoPro-app.git
	branch = odoo-online
[submodule "apps/website"]
	path = apps/website
	url = https://github.com/marcelo-m7/BotecoPRO-website.git
	branch = monorepo-migration-20260810
